/*!CK:1573355382!*//*1443478210,*/

._51nc{margin:0 -12px}
._5ce{position:absolute;right:8px;top:0}._5d68{padding-right:2px;padding-top:10px}
.sp_0kGFhw6dNzy{background-image:url(/rsrc.php/v2/yp/r/YrJG9_JNC7m.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_0kGFhw6dNzy.sx_e2ae74{background-position:0 0}.sp_0kGFhw6dNzy.sx_e719ed{background-position:0 -17px}

#bootloader_oYlM6 { height: 42px; }
.bootloader_oYlM6 { display:block !important; }