/*!CK:2247227994!*//*1442544589,*/

a._12bh ._12bi{color:#fff}a._12bj ._12bi{color:#7f7f7f}._12bk{margin-top:2px}._12bi{display:inline-block;padding-left:4px;position:relative;top:-3px}
#moderation_settings .form_input{float:left}

#bootloader_OZC21 { height: 42px; }
.bootloader_OZC21 { display:block !important; }