/*!CK:3853812335!*//*1443039311,*/

.sp_7jwkPhLMstC{background-image:url(/rsrc.php/v2/yA/r/0NiSh5CO0w6.png);background-size:13px 26px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_7jwkPhLMstC.sx_b507cb{background-position:0 -13px}.sp_7jwkPhLMstC.sx_d2da85{background-position:0 0}

#bootloader_UjFrT { height: 42px; }
.bootloader_UjFrT { display:block !important; }