/*!CK:3969062854!*//*1443545095,*/

.sp_y6U6lpg7vpE{background-image:url(/rsrc.php/v2/yj/r/PtrlzF-rvxs.png);background-size:17px 49px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_y6U6lpg7vpE.sx_23634c{width:14px;height:14px;background-position:0 -34px}.sp_y6U6lpg7vpE.sx_74e0b2{background-position:0 0}.sp_y6U6lpg7vpE.sx_efae48{background-position:0 -17px}

#bootloader_a9REB { height: 42px; }
.bootloader_a9REB { display:block !important; }