/*!CK:1272221726!*//*1442932328,*/

.sp_ho5kuChcRl6{background-image:url(/rsrc.php/v2/yX/r/RMox-xncgrO.png);background-size:26px 76px;background-repeat:no-repeat;display:inline-block;height:50px;width:25px}.sp_ho5kuChcRl6.sx_5ea7b0{width:13px;height:12px;background-position:-13px -51px}.selected .sp_ho5kuChcRl6.sx_5ea7b0{background-position:0 -51px}.sp_ho5kuChcRl6.sx_bb36ec{width:10px;height:10px;background-position:-12px -64px}.sp_ho5kuChcRl6.sx_498123{background-position:0 0}.sp_ho5kuChcRl6.sx_647c05{width:11px;height:11px;background-position:0 -64px}

#bootloader_e7F44 { height: 42px; }
.bootloader_e7F44 { display:block !important; }